.contacts-container{
  height: 100vh;
  width: auto;
  overflow-y: scroll;
  padding-left: 1vw;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar{
  display: none;
}

.contact{
  border: 1px solid #e6e6e6;
  border-left: none;
  border-right: none;
  border-top: none;
  padding-left: 0.5vw;
  width: 90%;
}