.text{
  padding: 15px;
  width: fit-content;
  max-width: 50%;
  margin-top: 2px;
}

.text.left{
  border-radius: 25px 25px 25px 0px;
  margin-left: 0;
  margin-right: auto;
}

.text.right{
  border-radius: 25px 25px 0px 25px;
  margin-left: auto;
  margin-right: 0;
}

.text.h6{
  width: inherit;
}

.text.red{
  background-color: red;
  color: white;
}

.text.blue{
  background-color: blue;
  color: white;
}

.text.green{
  background-color: green;
  color: white;
}